---
layout: default
title: About
beginner: <span class="iconify" data-icon="bi:heart-fill" data-inline="false"></span><span class="iconify" data-icon="bi:heart" data-inline="false"></span><span class="iconify" data-icon="bi:heart" data-inline="false"></span><span class="iconify" data-icon="bi:heart" data-inline="false"></span>
comfortable: <span class="iconify" data-icon="bi:heart-fill" data-inline="false"></span><span class="iconify" data-icon="bi:heart-fill" data-inline="false"></span><span class="iconify" data-icon="bi:heart" data-inline="false"></span><span class="iconify" data-icon="bi:heart" data-inline="false"></span>
intermediate: <span class="iconify" data-icon="bi:heart-fill" data-inline="false"></span><span class="iconify" data-icon="bi:heart-fill" data-inline="false"></span><span class="iconify" data-icon="bi:heart-fill" data-inline="false"></span><span class="iconify" data-icon="bi:heart" data-inline="false"></span>
expert: <span class="iconify" data-icon="bi:heart-fill" data-inline="false"></span><span class="iconify" data-icon="bi:heart-fill" data-inline="false"></span><span class="iconify" data-icon="bi:heart-fill" data-inline="false"></span><span class="iconify" data-icon="bi:heart-fill" data-inline="false"></span>
---

<nav id="cvNav" class="navbar navbar-expand-sm navbar-light bg-light sticky-top border-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cv-nav-toggle" aria-controls="cv-nav-toggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="cv-nav-toggle" class="collapse navbar-collapse">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#bio">Bio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tools">Tools</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#work">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#courses">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects">Projects</a>
            </li>
        </ul>
    </div>
</nav>

<div id="aboutContent" data-spy="scroll" data-target="#cvNav" data-offset="10">
    <!-- bio section -->
    <div id="bio" class="card about">
        <div class="card-body">
            <h1 class="card-title text-center">Kanstantsin (Kostya) Ilioukevitch</h1>
            <p class="cart-text mx-5 px-5">
                A little about me; I am finishing up my final courses of my undergraduate degree at the University of Toronto. 
                I am pursuing an Arts & Science Degree in Computer Science with a specialization in Software Engineering.
                My main interests within the professional field of Computer Science and Software Development are in cybersecurity, backend development, and deployment strategies.
            </p>
        </div>
    </div>

    <!-- tools section -->
    <div id="tools" class="card about pb-4">
        <div class="card-body">
            <h2 class="card-title text-center">Tools </h2>
            <p class="card-text mx-5 px-5">
                The following list shows all the tools that I have used throughout the years. 
                Each tool has been annotated with a skill level according to the following legend:
            </p>
            <div class="container mb-4">
                <div class="row justify-content-center">
                    <div class="card " style="width: 17rem">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm">
                                            Beginner:
                                    </div>
                                    <div class="col-sm">
                                        {{ page.beginner }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm">
                                        Comfortable:
                                    </div>
                                    <div class="col-sm">
                                        {{ page.comfortable }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm">
                                        Intermediate:
                                    </div>
                                    <div class="col-sm">
                                        {{ page.intermediate }}
                                    </div>
                                </div>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm">
                                        Expert:
                                    </div>
                                    <div class="col-sm">
                                        {{ page.expert }}
                                    </div>
                                </div>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
            <p class="card-text mx-5 px-5">
                Clicking on an item will expand any additional frameworks that I am familiar with in relations to the corresponding tool.
            </p>
        </div>
        <div id="toolsAccordion" class="accordion">
            <div class="container justify-content-center">
            {% for item in site.data.tools %}
            <div class="card mx-5">
                <div class="card-header text-center" id="heading{{ forloop.index }}">
                    {% if item.framework == true %}<button class="btn btn-link btn-block collapsed p-0" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ forloop.index }}">{% endif%}
                    <div class="row">
                        <div class="col-sm">
                            <span class="iconify" data-icon="{{ item.icon }}" data-inline="false"></span>
                        </div>
                        <div class="col-sm">
                                {{ item.name }}
                        </div>
                        <div class="col-sm">
                            {% case item.skill %}
                                {% when "beginner" %} 
                                    {{ page.beginner }} 
                                {% when "comfortable" %} 
                                    {{ page.comfortable }} 
                                {% when "intermediate" %} 
                                    {{ page.intermediate }} 
                                {% when "expert" %} 
                                    {{ page.expert }} 
                            {% endcase %}
                        </div>
                    </div>
                    {% if item.framework == true %}</button>{% endif %}
                </div>
                {% if item.framework == true %}
                <div id="collapse{{ forloop.index }}" class="collapse" aria-labelledby="heading{{ forloop.index }}" data-parent="#toolsAccordion">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for framework in item.framework_list %}
                            <li class="list-group-item">
                                {{ framework[1] }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <!-- work section -->
    <div id="work" class="card about">
        <div class="card-body">
            <h2 class="text-center card-title">Work Experience</h2>
        </div>
        <div class="container justify-content-center">
            {% for item in site.data.workexperience %}
            <div class="row">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="card-title text-center">{{ item.employer }}</h3>
                        <div class="row">
                            <div class="col-sm">
                                {{ item.department }}
                            </div>
                            <div class="col-sm text-right">
                                {{ item.team }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm">
                                Manager: {{ item.manager.name }}
                            </div>
                            <div class="col-sm text-right">
                                {% if item.manager.email != 'n/a' %}
                                Email: {{ item.manager.email }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                {{ item.rolename }}
                            </div>
                            <div class="col-sm text-right">
                                {{ item.date.start }} - {{ item.date.end }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for task in item.description %}
                            <li class="list-group-item">
                                {{ task[1] }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- academic/courses section -->
    <div id="courses" class="card about">
        <div class="card-body">
            <h2 class="card-title text-center">Academic Experience</h2>
            <div class="container justify-content-center">
                {% for course in site.data.academicexperience %}
                <div class="card mb-4">
                    <div class="card-header">
                        <h3> {{ course.name }} </h3>
                        <div class="row">
                            <div class="col-sm">
                                <h5>{{ course.taught }}</h5>
                            </div>
                            <div class="col-sm text-right">
                                <h5>{{ course.code }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for item in course.description %}
                            <li class="list-group-item">
                                {{ item[1] }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- projects section, to be moved to own tab later on -->
    <div id="projects" class="card about">
        <div class="card-body">
            <h2 class="card-title text-center">Notable Projects</h2>
            <div class="container justify-content-center">
                {% for project in site.data.projects %}
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm">
                                <h3 class="card-title">{{ project.name }}</h3>
                            </div>
                            <div class="col-sm text-right">
                                {% if project.link != "n/a"%}
                                <a href="{{ project.link }}" target="_blank"><span class="iconify" data-icon="bi:link" data-inline="false"></span></a>
                                {% endif %}
                                {% if project.source != "n/a" %}
                                <a href="{{ project.source }}" target="_blank"><span class="iconify" data-icon="logos:github-icon" data-inline="false"></span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ project.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>