---
layout: default
title: Blog
---

<h1 class="text-center mt-2"> Kostya's Random Ramblings</h1>

<div class="pl-3">
    <h2>New Posts</h2>
</div>

{% include newPosts.html %}

{% for section in site.data.blogsections %}
    {% assign sectionPosts = site.posts | where: "topic", section.name %}
    {% if sectionPosts.size > 0 %}
<div class="pl-3 mt-3">
    {% capture link %}{{section.name | downcase}}.html{% endcapture %}
    <a href= {{link}} ><h2>{{section.name}}</h2></a>
</div>
<div class="card-deck mx-3">
    {% for post in sectionPosts limit:3 %}
    <div class="card">
        <div class="card-body">
            <a href={{post.url}}><h4 class="card-title">{{post.title}}</h4></a>
            <p>{{post.excerpt | truncatewords: 75}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{post.date | date: "%a, %b %d, %y"}}</small>
        </div>
    </div>
    {% endfor %}
</div>
    {% endif %}
{% endfor %}
