---
layout: default
title: Blog
---
<div class="container-fluid">

    <div class="row justify-content-center my-4">
        <h1> Kostya's Random Ramblings</h1>
    </div>

    <div class="row pl-3">
        <h2>New Posts</h2>
    </div>
    <div class="row">
        <!-- TODO: find a way to display only 3 recent posts, can use the 'limit' filter -->
        <!-- want to make at most 3 cards of the most recent posts -->
        <!-- each card will have a title and the date posted -->

    </div>

    <!-- for each section -->

    {% for section in site.data.blogsections %}
        {% assign sectionPosts = site.posts | where: "topic", section.name %}
        {% if sectionPosts.size > 0 %}
    <div class="row pl-3">
        <h2>{{section.name}}</h2> <!-- need to make this a hyperlinked name for section page with all posts-->
    </div>
    <div class="card-deck">

    </div>
        {% endif %}
    {% endfor %}

    <!-- EXAMPLE OF FILTERING POSTS 
    {% assign random_posts = site.posts | where:"topic","random" %}
    -->


</div>